-webkit-keyframes animateInPrimary {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }
 
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}
 
   ion-spinner {
    * {
      stroke: blue;
    }

    &.spinner-circles circle,
    &.spinner-bubbles circle,
    &.spinner-dots circle {
      fill: #13719f;
      stroke: #2c6ba1;
    }
  }
 
@-webkit-keyframes animateInSecondary{
 
  0% {
    opacity: 0;
  }
 
  50% {
    opacity: 0;
  }
 
  100% {
    opacity: 1;
  }
}
 
.animate-in-primary {
    -webkit-animation: animateInPrimary;
    animation: animateInPrimary;
    -webkit-animation-duration: 750ms;
    animation-duraton: 750ms;
}


.page-register-page {
 		background: url("../assets/img/background.jpg") no-repeat fixed center;
    background-size: cover; 
 		-webkit-animation: animateInSecondary ease-in 1;
    animation: animateInSecondary ease-in 1;
    -webkit-animation-duration: 750ms;
    animation-duraton: 750ms;
}
