// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.toolbar-title {
    color: white; 
    font-family: cursive;
}


.toolbar-background {
  background-color: #66b2ff;
}

.item {
	background-color: white;
  opacity: 0.8; 		
}

.ion-label {
  text-color: white;
}

.button {
  font-weight: bold;
	font-size: 20px;
	background-color: color($colors, dark);
  width: 95%;
}

.button:hover  {
  background-color: color($colors, secondary) !important;
}


ion-list {
  text-align: center;
}


ion-content {
  background-color: color($colors, primary) !important;
}

.menu-toggle:hover {
  color: color($colors, secondary) !important;
}


ion-buttons {
  text-align: center;
}
