<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header> <ion-navbar>
<button ion-button menuToggle *ngIf="!selectedItem">
	<ion-icon name="menu"></ion-icon>
</button>
<ion-title>Login Page</ion-title> </ion-navbar> </ion-header>


<ion-content padding class="page-login-page"> <ion-list>

<ion-item> <ion-label style="color: black" floating>Car
Number</ion-label> <ion-input [(ngModel)]="carNumber" type="text" value=""></ion-input>
</ion-item> <ion-item> <ion-label style="color: black" floating>Password</ion-label>
<ion-input [(ngModel)]="password" type="password" value=""></ion-input>
</ion-item> </ion-list>

<div padding>
	<button ion-button (click)="Login(carNumber,password)" color="dark"
		style="margin-right: 16px" *ngIf="!isLoggedin" [navPush]="signin">Sign
		In</button>
	<button ion-button color="dark" style="margin-right: 16px"
		*ngIf="isLoggedin" [navPush]="logout">Logout</button>
</div>
<div padding>
	<button ion-button (click)="navigateRegister()" color="dark"
		style="margin-right: 32px" *ngIf="!isLoggedin" [navPush]="newhere">New
		Here? Register!</button>
</div>
<div padding>
	<a href="#" style="font-size: 16px; color: white" class="btn btn-link"
		size="8">Forgot Password? Click Here!</a>
</div>


</ion-content>
