 page-map {
     #map {
       left:  25%;
       width: 100%;
       height: 100%;
     }
     #rightPanel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #rightPanel select, #rightPanel input {
        font-size: 15px;
      }

      #rightPanel select {
        width: 100%;
      }

      #rightPanel i {
        font-size: 12px;
      }
      #rightPanel {
        height: 100%;
        float: right;
        width: 390px;
        overflow: auto;
      }
      #rightPanel {
          float: none;
          width: auto;
      }

      -webkit-animation: animateInSecondary ease-in 1;
    animation: animateInSecondary ease-in 1;
    -webkit-animation-duration: 750ms;
    animation-duraton: 750ms;


   }
